*
{
    --primary-color: rgb(0, 187, 255);
    --secondary-color: black;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Roboto Condensed', serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6
{
    font-family: var(--heading-font);
}

p, input, li, a, figcaption
{
    font-family: var(--paragraph-font);
}

body
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header 
{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    padding: 10px;
    height: auto;
}

#menu
{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
}

#menu::before
{
    content: "≡";
}

#menu.show::before
{
    content: "X"; 
}

.nav
{
    display: none;
}

.navigation
{
    display: flex;
    flex-direction: column;
    font-size: 25px
}

a
{
    text-decoration: none;
    color: black;
    margin: 0 auto;
    padding: 5px;
}

a:hover
{
    color: white;
    background-color: rgb(7, 151, 204);
    transition: 0.5s;
}

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 10px 0;
    align-self: center;
}

main h2
{
    font-size: 35px;
    padding: 10px 0;
    text-align: center;
}

main img
{
    width: 100%;
    max-width: 700px;
    height: auto;
    padding: 2px 0;
}

footer
{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    margin-top: auto;
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
}

.card
{
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    margin: 5px 0;
    background-color: rgb(237, 237, 237);
    width: 350px;
    height: 320px;
}

.card img
{
    margin-top: 10px;
    width: 340px;
    height: 213px;
}

.label
{
    color: rgb(202, 0, 0);
    font-weight: bold;
}

.card h3 
{
    margin-bottom: 10px;
    font-size: 25px;
}

.album
{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 10px;
}