@media screen and (min-width: 1070px) {
    header 
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);    
        background-color: var(--primary-color);
        align-items: center;
        padding: 0 10px;
        height: 55px;
    }
    
    .nav
    {
        display: block;
    }
    
    .navigation
    {
        display: flex;
        flex-direction: row;
        font-size: 25px;
        justify-content: center;
        align-content: center;
    } 

    main
    {
        padding: 10px 0;
        width: 80%;
        align-self: center;
    }

    #menu
    {
        display: none;
    }

    .album
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px;
    }
}

@media screen and (min-width: 1600px){
    header 
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);    
        background-color: var(--primary-color);
        align-items: center;
        padding: 0 10px;
        height: 55px;
    }
    
    .nav
    {
        display: block;
    }
    
    .navigation
    {
        display: flex;
        flex-direction: row;
        font-size: 25px;
        justify-content: center;
        align-content: center;
    } 

    main
    {
        padding: 10px 0;
        width: 80%;
        align-self: center;
    }

    #menu
    {
        display: none;
    }

    .album
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 15px;
    }
}